/*
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: hsla(195, 10%, 50%, .5); }
::selection { background: hsla(195, 10%, 50%, .5); }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
/*fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

/*legend { border: 0; *margin-left: -7px; padding: 0; }*/

fieldset {
border: 1px solid blue ;
padding:5px;
margin:5px;
width: 50%;
}

legend {
font-weight:bold;
color:maroon;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: Nicolas
   ========================================================================== */

a, a:visited {
  color: hsl(222, 16%, 53%);
  -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}
a:focus, a:hover {
  color: hsl(0, 46%, 53%);
}
a:active {
  position: relative;
  top: 1px;
}

* {
  box-sizing: border-box;
}
body {
  background-color: hsl(0, 0%, 90%);
  margin: 0 auto;
  padding: 100px 0 50px 150px;
  width: 960px;
}
header {
  background: -webkit-linear-gradient(top, hsla(0, 0%, 90%, 1), hsla(0, 0%, 90%, 0));
  background: -moz-linear-gradient(top, hsla(0, 0%, 90%, 1), hsla(0, 0%, 90%, 0));
  background: -o-linear-gradient(top, hsla(0, 0%, 90%, 1), hsla(0, 0%, 90%, 0));
  background: -ms-linear-gradient(top, hsla(0, 0%, 90%, 1), hsla(0, 0%, 90%, 0));
  background: linear-gradient(top, hsla(0, 0%, 90%, 1), hsla(0, 0%, 90%, 0));
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 960px;
}
header > * {
  pointer-events: all;
}
#logo {
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font: 700 2.5em/100px Clara, serif;
  text-decoration: none;
  /* mothereffingtextshadow.com */
  text-shadow: 0 1px 0 hsl(0, 0%, 80%),
               0 2px 0 hsl(0, 0%, 77%),
               0 3px 0 hsl(0, 0%, 74%),
               0 4px 0 hsl(0, 0%, 71%),
               0 5px 0 hsl(0, 0%, 68%),
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}
#logo:focus,
#logo:hover {
  color: hsl(0, 0%, 96%);
}

#search {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 30%;
  right: 30%;
}
#search > input {
  background-color: hsla(0, 0%, 93%, .9);
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 3px;
  box-shadow: 0 2px 13px hsla(0, 0%, 0%, .1);
  font-size: 1.2em;
  padding: 3px 2px;
  width: 100%;
}
#search > input:focus {
  background-color: hsl(0, 0%, 97%);
}

#notif + label {
  border: 1px solid #CCC;
  border-radius: 2px;
  color: #999;
  display: inline-block;
  font-weight: 700;
  line-height: 1.8em;
  position: absolute;
  top: 30%;
  right: 5%;
  text-align: center;
  width: 1.8em;
}
#notif:not(:disabled) + label {
  background: -webkit-linear-gradient(#FFF, #EEE);
  background: -moz-linear-gradient(#FFF, #EEE);
  background: -o-linear-gradient(#FFF, #EEE);
  background: linear-gradient(#FFF, #EEE);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, .1), 0 0 4px rgba(0, 0, 0, .1);
  color: hsl(0, 50%, 50%);
}
#notif:checked + label {
  background: -webkit-linear-gradient(#DDD, #FFF);
  background: -moz-linear-gradient(#DDD, #FFF);
  background: -o-linear-gradient(#DDD, #FFF);
  background: linear-gradient(#DDD, #FFF);
}
#notif:not(:checked) ~ #notifications {
  display: none;
}
#notifications {
  background: #EEE;
  border: 1px solid #CCC;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
  position: absolute;
  top: 2.9em;
  right: .5em;
}
#notifications::before {
  content: "";
  background: #EEE;
  border-top: 1px solid #CCC;
  border-left: 1px solid #CCC;
  position: absolute;
  top: -6px;
  right: 8px;
  height: 10px;
  width: 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#notifications > ol {
  margin: 0;
  padding: 0;
}
#notifications > ol > li {
  padding: 2px 3px;
}

nav {
  position: absolute;
  top: 100%;
  left: -100px;
  padding: 30px;
  text-align: right;
  width: 250px;
}
nav > a,
nav strong {
  font: italic 700 1.2em/2 Gentium Book Basic, serif;
  display: block;
  text-decoration: none;
  white-space: nowrap;
  text-shadow: 0 1px 0 hsl(0, 0%, 100%), 0 2px 10px hsla(0, 0%, 0%, .25);
  -webkit-transition: .3s .6s ease-in-out;
  -moz-transition: .3s .6s ease-in-out;
  -o-transition: .3s .6s ease-in-out;
  transition: .3s .6s ease-in-out;
}
nav > a:focus,
nav > a:hover {
  padding-right: 15px;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
nav > a::after {
  content: ' ★';
}

nav input,
#body input,
#body select,
#body textarea,
#body button {
  background: hsl(0, 0%, 98%);
  border: 1px solid hsl(0, 0%, 78%);
  border-radius: 2px;
  box-shadow: inset 0 1px 1px hsla(0, 0%, 0%, .2);
  margin: 2px 0;
  padding: 3px 2px;
}
nav input {
  width: 150px;
}
#body input, #body select {
  width: 250px;
}
nav input[type="submit"],
#body input[type="submit"],
#body select,
#body button {
  background: -webkit-linear-gradient(top, hsl(0, 0%, 90%), hsl(0, 0%, 80%));
  box-shadow: 0 1px 1px hsla(0, 0%, 0%, .2);
  color: hsl(0, 0%, 25%);
  font-weight: 700;
  margin-bottom: 5px;
  padding: 3px 6px;
}
nav input[type="submit"]:active,
#body input[type="submit"]:active,
#body select:active,
#body button:active {
  background: -webkit-linear-gradient(top, hsl(0, 0%, 75%), hsl(0, 0%, 85%));
  box-shadow: inset 0 1px 1px hsla(0, 0%, 0%, .2);
}


#body {
  margin: 0 1em;
}
h1, h2, h3, h4, h5, h6 {
  color: hsl(200, 10%, 25%);
  font-family: Open Sans, sans-serif;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 1px 1px hsl(0, 0%, 100%);
}
.error {
  color: hsl(0, 60%, 50%);
  font: 700 1.2em/2 Gentium Book Basic, serif;
  text-align: center;
  text-shadow: 0 1px 1px hsl(0, 0%, 100%), 0 5px 15px hsla(0, 0%, 0%, .2);
}

.navlinks a {
  display: inline-block;
  font: 700 1.2em/2 Gentium Book Basic, serif;
  text-decoration: none;
  padding: 2px 10px;
}
.navlinks a::before {
  content: '☆ ';
}

/*
.wall table {
  border: 1px solid transparent;
  width: 100%;
}
.wall form {
  display: inline-block;
}
.wall td:first-child {
  text-align: center;
}
#body .wall input {
  background: none;
  border: none;
  box-shadow: none;
  width: auto;
}
#body .wall input[value="Like"] {
  color: hsl(120, 60%, 50%);
}
#body .wall input[value="Dislike"] {
  color: hsl(0, 60%, 50%);
}
*/


#contribution input, #contribution select {
  display: block;
  margin: 2px auto;
  width: 80%;
}
#contribution textarea {
  display: block;
  height: 100px;
  margin: 0 auto 20px;
  width: 80%;
}


/*--------------------------------------------------
	  Albums Display John
-------------------------------------------------- */
#pictures {
	list-style: none outside none;
	margin: auto;
	width: 700px;
	position:relative;
	
}

#pictures li {
	border: 5px solid grey; /* Ajout d'une bordure blanche */
	border-radius: 10px;
	float: left;
	height: 150px; /* Hauteur de l'image */
	margin: 5px;
	overflow: hidden;
	position: relative;
	width: 160px; /* Largeur de l'image */
}

#pictures li img {
	z-index: 10;

}
 
#pictures li span {
	background: rgba(0, 0, 0, 0.5); /* Les légendes auront un arrière-plan noir avec une opacité de 50% */
	color: #fff;
	display: block;
	font-weight: bold;
	height: 30px;
	left: 0;
	line-height: 30px;
	padding: 5px 10px;
	position: absolute;
	text-shadow: 2px 2px #333;
	width: 280px;
	z-index: 20;
}

#pictures li.legend-top span {
	border-bottom: 10px solid rgba(255, 255, 255, 0.2);
	top: -50px;
	transition: top 0.3s ease-in-out;
	-moz-transition: top 0.3s ease-in-out;
	-o-transition: top 0.3s ease-in-out;
	-webkit-transition: top 0.3s ease-in-out;
}
 
#pictures li.legend-top:hover span {
	top: 0;
}


/*--------------------------------------------------
	  Reveal Modals
	-------------------------------------------------- */
	.big-link {
		cursor:pointer;
	}

	.reveal-modal-bg {
		position: fixed;
		height: 100%;
		width: 100%;
		background-color: rgba(0,0,0,.5);;
		z-index: 100;
		display: none;
		top: 0;
		left: 0;
		}

	.reveal-modal {
		visibility: hidden;
		top: 100px;
		left: 50%;
		margin-left: -300px;
		width: 520px;
		background-color: #fff;
		position: absolute;
		z-index: 101;
		padding: 30px 40px 34px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-box-shadow: 0 0 10px rgba(0,0,0,.4);
		}

	.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
	.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
	.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
	.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}

	.reveal-modal .close-reveal-modal {
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top: 8px;
		right: 11px;
		color: #c00;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		font-weight: bold;
		cursor: pointer;
		}









/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
